<div class="container-fluid "  style="height: calc(100vh - 83px)" >

  <div class="row  " style="height: 10%;" >
      <app-header  class="bg-info  col m-1 p-3 text-light"></app-header>
  </div>

  <div class="row  "  style="height: 80%;">
      <app-nav class="bg-danger  col m-1 p-3 text-light"></app-nav>
      <app-content class="bg-success col-sm-8 m-1 p-3 text-light"></app-content>
  </div>

  <div class="row  "  style="height: 10%;">
      <app-footer class="bg-warning   col m-1 p-3  "></app-footer>
  </div>

</div>
