<div class="container-fluid p-5">

    <h2 id="components">Components</h2>
    <hr>
    <h3 id="exercise1">exercise #1</h3>
    <p>Create a module with all the needed components components to illustrate the following.<br>
        <img src="../../assets/first-ex.PNG" height="168" width="351"/></p>

    <h3 id="exercise2">exercise #2</h3>
    <ul>
        <li>Create a parent component which has a list of items accessible
            via a method
        </li>
        <li>Create a child component which accepts as input the list of the
            items from the parent component and displays the list on screen
        </li>
    </ul>

    <h3 id="exercise3">exercise #3</h3>
    <p>The parent should display a list of items only if the child allows it.
        Use inline template</p>
    <h3 id="exercise4">exercise #4</h3>
    <p>Create a component which will display the message:</p>
    <ul>
        <li>“Message from OnInit” on the onInit method</li>
        <li>“Message from AfterViewInit” on the AfterViewInit method</li>
    </ul>
    <br>
    <h2 id="services">Services</h2>
    <hr>
    <h3 id="exercise5">exercise #5</h3>
    <p>Create a <span class="font-weight-bold">service</span>  which will return an array of items, and inject this
        service in a component. The results should be shown in the console</p>

    <h3 id="exercise6">exercise #6</h3>
    <p>Create another component and inject the same  <span class="font-weight-bold">service</span></p>

    <h3 id="exercise7">exercise #7</h3>
    <ol>
        <li>Remove the providedIn: 'root' from service and run the app.</li>
        <li>Add the service in the providers of each component</li>
    </ol>
    <br>
    <h2 id="directives">Ng Directives</h2>
    <hr>
    <h3 id="exercise8">exercise #8</h3>
    <p>Having the array ["one", "two", "three", "four", "five", "six", "seven",
        "eight", "nine", "ten"]</p>
    <ul>
        <li>In a component display on an unordered list the label of each item</li>

        <li>If the item is the first one, display the label “Is First”</li>

        <li>If the item is the last one, display the label “Is Last”</li>
        <span class="font-weight-bold">  The array should be on a service</span>
    </ul>

    <h3 id="exercise9">exercise #9</h3>
    <p>Having the array people: any[] = [ "name": "Douglas Pace", "age": 35, "country": 'MARS'];</p>
    <ul>
        <li>Display the name of the user in blue, if country is UK</li>
        <li>Display the name of the user in red, if country is USA</li>
        <li>Display the name of the user in green, if country is HK</li>
        <li>Display the name of the user in black in any other cases</li>
    </ul>
    <br>
    <h2 id="custom-directives">Custom Directives</h2>
    <hr>
    <h3 id="exercise10">exercise #10</h3>
    <p>Create a  <span class="font-weight-bold">directive</span> which will highlight a text on hover
        and will have the default state on blur</p>
    <br>
    <h2 id="angular-pipes">Built-in Pipes</h2>
    <hr>
    <h3 id="exercise11">exercise #11</h3>
    <ul>
        <li>Create a <span class="font-weight-bold">service</span> with a method which will return a typed object with
            properties:
        </li>
        <li>date = today</li>
        <li>amount = 1.5</li>
        <li>Consume the service in a component and display the date in format
            yyyyMMdd and the amount in format €amount
        </li>
    </ul>
    <br>
    <h2 id="custom-pipes">Custom Pipes</h2>
    <hr>
    <h3 id="exercise12">exercise #12</h3>
    <p>Create a <span class="font-weight-bold">pipe</span> which will get as input a date and transforms it by default
        to “dd/MM/yyyy”. Use a boolean parameter which if true will return the
        time in format “hh:mm:ss” concatenated with the date</p>
    <br>
    <h2 id="http">HTTP</h2>
    <hr>
    <h3 id="exercise13">exercise #13</h3>
    <ol>
        <li>Create a <span class="font-weight-bold">service</span> that <span class="font-weight-bold">GETs</span> data from
            https://restcountries.eu/rest/v2/<br>
            Create a model with properties:
            <ul>
                <li>name</li>
                <li>topLevelDomain</li>
                <li>alpha2Code</li>
                <li>alpha3Code</li>
                <li>capital</li>
                <li>region</li>
            </ul>
        </li>
        <li>Consume the service in a component and display the results in an
            inline template
        </li>
    </ol>
    <br>
    <h2 id="extras">Extras</h2>
    <hr>
    <h3 id="extra1">extra #1</h3>
    <p>
        Use <span class="font-weight-bold">local reference</span> and <span class="font-weight-bold">viewChild()</span> to get access to DOM elements. Use <span class="font-weight-bold">ng-content</span> to inject html code to a component.
    </p>

</div>